<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @quality_practice %> 리스트입니다.</h3>
    </div>
  </div>

  <%= render :partial => "quality/posts" %>
</div>

