<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
     <%= flash[:alert] %>
  </div>
  <% end %>

  <div class="well text-center">
    <h3>QP Measure TOOL 분석및 정보</h3>
    <p>코드품질을 위한 제품정보 비교및 버전정보 제공</p>
  </div>

  <%= render :partial => "quality/posts" %>
</div>
