 <%= render :partial => "quality/header" %>

<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

   <form class="form-horizontal" role="form" action="/quality/write_complete" method="post" enctype="multipart/form-data">
     <div class="form-group">
     <label class="control-label col-sm-1"></label>
     <div class="col-sm-9 well well-sm text-center page-header">
     <h3>Quality Tool Saving</h3>
     <h3><p><small>코드 품질측정에 사용할수 있는 툴 저장</small></p></h3>
     </div>
     </div>

     <div class="form-group">
      <label class="control-label col-sm-2" for="category">Category</label>
      <div class="col-sm-6">
      <select class="form-control selectpicker" name="post_category" data-style="btn-success">
        <option selected></option>
        <option value="Coding Guideline">Coding Guideline</option>
        <option value="Unit Test&Coverage">Unit Test&Coverage</option>
        <option value="Static Analystics">Static Analystics</option>
        <option value="Cyclomatic Complexity">Cyclomatic Complexity</option>
        </select>
        <!--script language="javascript">
        $('.test').click(function () {
//  $('.post_category').find('[value=Static Analystics]').remove();
 // $('.post_category').selectpicker('refresh');
//        $('select[name=post_category]').val(1);
        $('select[name=post_category]').selectpicker('refresh');
});
     </script-->
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="toolname">Tool Name</label>
      <div class="col-sm-6"> 
      <input class="form-control" type="text" name="post_tool" placeholder="도구명을 입력하세요.">
      </div>
    </div>
   <div class="form-group">
      <label class="control-label col-sm-2" for="image">사진 업로드</label>
      <div class="col-sm-10">
        <label class="file">
	  <input type="file" name="image">
	  <span class="file-custom"></span>
        </label>
      </div>
   </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="title">용도</label>
      <div class="col-sm-6">
      <input class="form-control" name="post_title" placeholder="도구 용도를 입력하세요.">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="language">지원언어</label>
      <div class="col-sm-6">
      <select class="form-control selectpicker" multiple name="post_language" data-style="btn-success">
        <option value="c">C</option>
        <option value="c++">C++</option>
        <option value="c#">C#</option>
        <option value="java">Java</option>
        <option value="groovy">Groovy</option>
        <option value="objectivec">Objective C</option>
      </select>
     </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="os">지원OS</label>
      <div class="col-sm-6">
      <select class="form-control selectpicker" multiple name="post_os" data-style="btn-success">
        <option value="window">Window</option>
        <option value="linux">Linux</option>
        <option value="mac">Mac</option>
      </select> 
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="buyneed">구매필요여부</label>
      <div class="col-sm-6">
      <select class="form-control selectpicker" name="post_buyneed" data-style="btn-success">
        <option selected></option>
        <option value="오픈소스">오픈소스</option>
        <option value="사내개발">사내개발</option>
        <option value="상용">상용</option>
      </select>
      </div>
   </div>
   <div class="form-group">
      <label class="control-label col-sm-2" for="version">Java8지원버전</label>
      <div class="col-sm-6">
      <input class="form-control" type="text" name="post_version" placeholder="Java8 지원버전을 입력하세요.">
      </div>
   </div>
   <div class="form-group">
      <label class="control-label col-sm-2" for="url">URL</label>
      <div class="col-sm-6">
      <input class="form-control" type="text" name="post_url" placeholder="URL을 입력하세요."></p>
      </div>
   </div>
   <div class="form-group">
      <label class="control-label col-sm-2" for="submit"></label>
      <div class="col-sm-6">
      <input class="btn btn-success btn-lg btn-block" type="submit" value="Save">
      </div>
   </div>
  </form>
   </div>
    <div class="col-sm-4">
    </div>


